fastapi
uvicorn
python-multipart
numpy
pandas
scipy
scikit-learn
joblib
xgboost
lightgbm
catboost
shap
matplotlib
seaborn
Pillow
openpyxl
imbalanced-learn
SciencePlots
networkx
dice-ml
pdfplumber
PyMuPDF
